<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>guideSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,84}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>textBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{290,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{290,92}}</string>
                <key>sourceSize</key>
                <string>{300,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help_guide.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5aeb0c77bd1a1fc2a8be9c9c0b9cb2d0:1/1$</string>
            <key>textureFileName</key>
            <string>help_guide.png</string>
        </dict>
    </dict>
</plist>
