<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>homeBox01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{512,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,142}}</string>
                <key>sourceSize</key>
                <string>{512,142}</string>
            </dict>
            <key>homeBox02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,474},{249,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,193}}</string>
                <key>sourceSize</key>
                <string>{249,193}</string>
            </dict>
            <key>nongchang_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,470}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{492,470}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>tili_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,517},{160,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,50}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>topbar.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{397,474},{41,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,78}}</string>
                <key>sourceSize</key>
                <string>{41,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gate_view_plist.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e20a2afabf600fea27da51bb34f3659:1/1$</string>
            <key>textureFileName</key>
            <string>gate_view_plist.png</string>
        </dict>
    </dict>
</plist>
